.main {
  text-align: center;
  box-sizing: border-box;
  float: center;
  display: flex;
  list-style: none;
}

.main a {
  margin-left: 10px;
  text-align: left;
  color: #27793f;
  text-decoration: none;
  font-size: 15px;
  padding: 1px;
  font-family: Arial, Helvetica, sans-serif;
}
.main a:hover {
  color: rgb(66, 201, 178);
}
.text {
  float: right;
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #4bbd90;
  padding: 20px;
}
